body{
    background-color: #0E0E0E;
    color: #515151;
}
h1, h2 {
    text-transform: uppercase;
}
h2{
    border-bottom: 4px solid #000000;
}
#content{
    width: 70%;
    margin: 0 auto;
}
.left{
    width: 32%;
    float: left;
    background-color: #F1F1F1;
    padding: 3%;
    height: 1000px;
}
.left img{
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.right{
    width: 62%;
    float: right;
    background-color: #FEFEFE;
    height: 1000px;
}